In [129]:
import pandas as pd

# confirmed_cases_4_1 = pd.read_csv('confirmed_cases_10_9_2021 .csv')
# vaccines_administered_csv = pd.read_csv('time_series_covid19_vaccine_doses_admin_US.csv')
#
# vaccines_administered_col = []
# for index, row in confirmed_cases_4_1.iterrows():
#     state = row['Province_State']
#     vaccines_administered = vaccines_administered_csv.loc[vaccines_administered_csv['Province_State'] == state]['2021-10-09']
#     vaccines_administered_col.append(int(vaccines_administered))
# confirmed_cases_4_1['vaccine_doses_administered_in_state'] = vaccines_administered_col
#
# confirmed_cases_4_1.to_csv('confirmed_cases_10_9_2021.csv', index=False)

In [130]:
demographic_df = pd.read_csv('cc-est2019-alldata.csv', encoding="ISO-8859-1")
county_names = list(set(demographic_df['CTYNAME']))
county_names_sorted = []
for c in county_names:
    county_names_sorted.append(c)
county_names_sorted = sorted(county_names_sorted)
white_pop = []
black_pop = []
asian_pop = []
hisp_pop = []
for c in county_names_sorted:
    county_rows = demographic_df.loc[demographic_df['CTYNAME'] == c]
    white_males = sum([int(x) for x in county_rows['WA_MALE']])
    white_females = sum([int(x) for x in county_rows['WA_FEMALE']])
    black_males = sum([int(x) for x in county_rows['BA_MALE']])
    black_females = sum([int(x) for x in county_rows['BA_FEMALE']])
    asian_males = sum([int(x) for x in county_rows['AA_MALE']])
    asian_females = sum([int(x) for x in county_rows['AA_FEMALE']])
    hisp_male = sum([int(x) for x in county_rows['H_MALE']])
    hisp_female = sum([int(x) for x in county_rows['H_FEMALE']])
    white = white_males + white_females
    black = black_males + black_males
    asian = asian_males + asian_males
    hisp = hisp_male + hisp_female
    white_pop.append(white)
    asian_pop.append(asian)
    black_pop.append(black)
    hisp_pop.append(hisp)

demo_df = pd.DataFrame({
    'county_name': county_names_sorted,
    'white_pop': white_pop,
    'black_pop': black_pop,
    'asian_pop': asian_pop,
    'hisp_pop': hisp_pop,
})

demo_df.to_csv('racial_demographics.csv', index=False)

In [131]:
master_df = pd.read_csv('confirmed_cases_5_1_2020.csv')
new_df = pd.DataFrame({
    'county_name': [],
    'white_pop': [],
    'black_pop': [],
    'asian_pop': [],
    'hisp_pop': [],
})
for index, row in master_df.iterrows():
    entry = demo_df.loc[demo_df['county_name'] == row['Admin2']]
    # entry.drop('county_name', axis=1, inplace=True)
    if len(entry) != 0:
        new_entry = {
            'county_name': entry['county_name'],
            'white_pop': int(entry['white_pop']),
            'black_pop': int(entry['black_pop']),
            'asian_pop': int(entry['asian_pop']),
            'hisp_pop': int(entry['hisp_pop']),
        }
        new_df = new_df.append(pd.DataFrame(new_entry), ignore_index=True)
new_df

     county_name  white_pop  black_pop  asian_pop  hisp_pop
0        Autauga    85214.0    20948.0     1144.0    3342.0
1        Baldwin   438906.0    76452.0     5228.0   23170.0
2        Barbour    55990.0    25612.0      292.0    2600.0
3           Bibb   156836.0   167256.0     6440.0   11940.0
4         Blount   360348.0    10508.0     2496.0   20794.0
...          ...        ...        ...        ...       ...
2875  Sweetwater    79396.0     1388.0      812.0   13544.0
2876       Teton    79636.0      564.0      768.0   11366.0
2877       Uinta    38554.0      308.0      152.0    3742.0
2878    Washakie    14754.0      100.0      100.0    2216.0
2879      Weston    12908.0      128.0      136.0     570.0

[2880 rows x 5 columns]

In [132]:
racial_demographics_df = pd.read_csv('racial_demographics.csv')
master_df = pd.read_csv('confirmed_deaths_10_9_2021.csv')
master_df['white_pop'] = ''
master_df['black_pop'] = ''
master_df['asian_pop'] = ''
master_df['hisp_pop'] = ''
for index, row in master_df.iterrows():
    county = row['Admin2']
    county_row = racial_demographics_df.loc[racial_demographics_df['county_name'] == county]
    if len(county_row) > 0:
        white_pop = county_row['white_pop']
        black_pop = county_row['black_pop']
        asian_pop = county_row['asian_pop']
        hisp_pop = county_row['hisp_pop']
        master_df.at[index, 'white_pop'] = int(white_pop)
        master_df.at[index, 'black_pop'] = int(black_pop)
        master_df.at[index, 'asian_pop'] = int(asian_pop)
        master_df.at[index, 'hisp_pop'] = int(hisp_pop)
print(master_df)
master_df.to_csv('confirmed_deaths_10_9_2021.csv', index=False)

          Admin2 Province_State Country_Region        Lat       Long_  \
0        Autauga        Alabama             US  32.539527  -86.644082
1        Baldwin        Alabama             US  30.727750  -87.722071
2        Barbour        Alabama             US  31.868263  -85.387129
3           Bibb        Alabama             US  32.996421  -87.125115
4         Blount        Alabama             US  33.982109  -86.567906
...          ...            ...            ...        ...         ...
3229  Sweetwater        Wyoming             US  41.659439 -108.882788
3230       Teton        Wyoming             US  43.935225 -110.589080
3231       Uinta        Wyoming             US  41.287818 -110.547578
3232    Washakie        Wyoming             US  43.904516 -107.680187
3233      Weston        Wyoming             US  43.839612 -104.567488

                 Combined_Key  vaccine_doses_administered_in_state  \
0        Autauga, Alabama, US                              4630089
1        Baldwin, Alabama, US                              4630089
2        Barbour, Alabama, US                              4630089
3           Bibb, Alabama, US                              4630089
4         Blount, Alabama, US                              4630089
...                       ...                                  ...
3229  Sweetwater, Wyoming, US                               536884
3230       Teton, Wyoming, US                               536884
3231       Uinta, Wyoming, US                               536884
3232    Washakie, Wyoming, US                               536884
3233      Weston, Wyoming, US                               536884

      confirmed_cases  deaths white_pop black_pop asian_pop hisp_pop
0                9843     144     85214     20948      1144     3342
1               36870     532    438906     76452      5228    23170
2                3545      74     55990     25612       292     2600
3                4192      86    156836    167256      6440    11940
4                9998     172    360348     10508      2496    20794
...               ...     ...       ...       ...       ...      ...
3229             7146      70     79396      1388       812    13544
3230             4984      13     79636       564       768    11366
3231             3660      26     38554       308       152     3742
3232             1486      29     14754       100       100     2216
3233              947       8     12908       128       136      570

[3234 rows x 13 columns]

In [133]:
display(master_df)
print(master_df.columns)

,Admin2,Province_State,Country_Region,Lat,Long_,Combined_Key,vaccine_doses_administered_in_state,confirmed_cases,deaths,white_pop,black_pop,asian_pop,hisp_pop
0,Autauga,Alabama,US,32.539527,-86.644082,"Autauga, Alabama, US",4630089,9843,144,85214,20948,1144,3342
1,Baldwin,Alabama,US,30.727750,-87.722071,"Baldwin, Alabama, US",4630089,36870,532,438906,76452,5228,23170
2,Barbour,Alabama,US,31.868263,-85.387129,"Barbour, Alabama, US",4630089,3545,74,55990,25612,292,2600
3,Bibb,Alabama,US,32.996421,-87.125115,"Bibb, Alabama, US",4630089,4192,86,156836,167256,6440,11940
4,Blount,Alabama,US,33.982109,-86.567906,"Blount, Alabama, US",4630089,9998,172,360348,10508,2496,20794
...,...,...,...,...,...,...,...,...,...,...,...,...,...
3229,Sweetwater,Wyoming,US,41.659439,-108.882788,"Sweetwater, Wyoming, US",536884,7146,70,79396,1388,812,13544
3230,Teton,Wyoming,US,43.935225,-110.589080,"Teton, Wyoming, US",536884,4984,13,79636,564,768,11366
3231,Uinta,Wyoming,US,41.287818,-110.547578,"Uinta, Wyoming, US",536884,3660,26,38554,308,152,3742
3232,Washakie,Wyoming,US,43.904516,-107.680187,"Washakie, Wyoming, US",536884,1486,29,14754,100,100,2216
3233,Weston,Wyoming,US,43.839612,-104.567488,"Weston, Wyoming, US",536884,947,8,12908,128,136,570

Index(['Admin2', 'Province_State', 'Country_Region', 'Lat', 'Long_',
       'Combined_Key', 'vaccine_doses_administered_in_state',
       'confirmed_cases', 'deaths', 'white_pop', 'black_pop', 'asian_pop',
       'hisp_pop'],
      dtype='object')

In [134]:
#Cell by Julie

#Dictionary to map state abbreviations to full name
us_state_to_abbrev = {
    "Alabama": "AL",
    "Alaska": "AK",
    "Arizona": "AZ",
    "Arkansas": "AR",
    "California": "CA",
    "Colorado": "CO",
    "Connecticut": "CT",
    "Delaware": "DE",
    "Florida": "FL",
    "Georgia": "GA",
    "Hawaii": "HI",
    "Idaho": "ID",
    "Illinois": "IL",
    "Indiana": "IN",
    "Iowa": "IA",
    "Kansas": "KS",
    "Kentucky": "KY",
    "Louisiana": "LA",
    "Maine": "ME",
    "Maryland": "MD",
    "Massachusetts": "MA",
    "Michigan": "MI",
    "Minnesota": "MN",
    "Mississippi": "MS",
    "Missouri": "MO",
    "Montana": "MT",
    "Nebraska": "NE",
    "Nevada": "NV",
    "New Hampshire": "NH",
    "New Jersey": "NJ",
    "New Mexico": "NM",
    "New York": "NY",
    "North Carolina": "NC",
    "North Dakota": "ND",
    "Ohio": "OH",
    "Oklahoma": "OK",
    "Oregon": "OR",
    "Pennsylvania": "PA",
    "Rhode Island": "RI",
    "South Carolina": "SC",
    "South Dakota": "SD",
    "Tennessee": "TN",
    "Texas": "TX",
    "Utah": "UT",
    "Vermont": "VT",
    "Virginia": "VA",
    "Washington": "WA",
    "West Virginia": "WV",
    "Wisconsin": "WI",
    "Wyoming": "WY",
    "District of Columbia": "DC",
    "American Samoa": "AS",
    "Guam": "GU",
    "Northern Mariana Islands": "MP",
    "Puerto Rico": "PR",
    "United States Minor Outlying Islands": "UM",
    "U.S. Virgin Islands": "VI",
}   

# invert the dictionary so that we can use the abbreviations to get the state names
abbrev_to_us_state = dict(map(reversed, us_state_to_abbrev.items()))

#got from here: https://gist.github.com/rogerallen/1583593

In [140]:
#Cell by Julie

#Bringing in poverty by fips
orig_poverty_df = pd.read_csv('PovertyEstimates.csv',encoding="ISO-8859-1", skipinitialspace=True)
#print(orig_poverty_df.columns)
#display(orig_poverty_df)

#Taking in only identifying factors and the total percent of pop in poverty for 2019
data = [orig_poverty_df['FIPStxt'],orig_poverty_df['Stabr'],orig_poverty_df['Area_name'],orig_poverty_df['PCTPOVALL_2019']]
cols=['FIPS','StateAbr','Admin2','POVERTY_PERCENT']
poverty_df = pd.DataFrame(data, cols)
poverty_df = poverty_df.transpose()
# display(poverty_df)
# print(poverty_df.dtypes)

#we need to get rid of the "county" part of the county name
poverty_df['Admin2'] = poverty_df['Admin2'].str.rstrip(' County') #be careful of the trailing space!
#display(poverty_df)

#we need the full state name and not just the abbreviaton
state = poverty_df['StateAbr'].map(abbrev_to_us_state)
poverty_df['Province_State']=state
#display(poverty_df)
#print(poverty_df.columns)

#map fips and poverty percent column into the master_df by state/county pair
master_df = pd.merge(poverty_df, master_df, on=['Province_State','Admin2'])
display(master_df)

,FIPS,StateAbr,Admin2,POVERTY_PERCENT,Province_State,Country_Region,Lat,Long_,Combined_Key,vaccine_doses_administered_in_state,confirmed_cases,deaths,white_pop,black_pop,asian_pop,hisp_pop
0,1001,AL,Autauga,12.1,Alabama,US,32.539527,-86.644082,"Autauga, Alabama, US",4630089,9843,144,85214,20948,1144,3342
1,1005,AL,Barbour,27.1,Alabama,US,31.868263,-85.387129,"Barbour, Alabama, US",4630089,3545,74,55990,25612,292,2600
2,1007,AL,Bibb,20.3,Alabama,US,32.996421,-87.125115,"Bibb, Alabama, US",4630089,4192,86,156836,167256,6440,11940
3,1011,AL,Bullock,30,Alabama,US,32.100305,-85.712655,"Bullock, Alabama, US",4630089,1511,44,5378,14852,36,1728
4,1013,AL,Butler,21.6,Alabama,US,31.753001,-86.680575,"Butler, Alabama, US",4630089,3228,94,1293182,100504,37576,55614
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1874,56031,WY,Platte,11.5,Wyoming,US,42.132991,-104.966331,"Platte, Wyoming, US",536884,1231,23,258588,17496,6840,28304
1875,56035,WY,Sublette,7.2,Wyoming,US,42.765583,-109.913092,"Sublette, Wyoming, US",536884,1266,13,18786,220,144,1404
1876,56037,WY,Sweetwater,8.3,Wyoming,US,41.659439,-108.882788,"Sweetwater, Wyoming, US",536884,7146,70,79396,1388,812,13544
1877,56041,WY,Uinta,8.5,Wyoming,US,41.287818,-110.547578,"Uinta, Wyoming, US",536884,3660,26,38554,308,152,3742
1878,56043,WY,Washakie,11.1,Wyoming,US,43.904516,-107.680187,"Washakie, Wyoming, US",536884,1486,29,14754,100,100,2216