In [1]:
import pandas as pd

# confirmed_cases_4_1 = pd.read_csv('confirmed_cases_10_9_2021 .csv')
# vaccines_administered_csv = pd.read_csv('time_series_covid19_vaccine_doses_admin_US.csv')
#
# vaccines_administered_col = []
# for index, row in confirmed_cases_4_1.iterrows():
#     state = row['Province_State']
#     vaccines_administered = vaccines_administered_csv.loc[vaccines_administered_csv['Province_State'] == state]['2021-10-09']
#     vaccines_administered_col.append(int(vaccines_administered))
# confirmed_cases_4_1['vaccine_doses_administered_in_state'] = vaccines_administered_col
#
# confirmed_cases_4_1.to_csv('confirmed_cases_10_9_2021.csv', index=False)

In [2]:
demographic_df = pd.read_csv('cc-est2019-alldata.csv', encoding="ISO-8859-1")
county_names = list(set(demographic_df['CTYNAME']))
county_names_sorted = []
for c in county_names:
    county_names_sorted.append(c)
county_names_sorted = sorted(county_names_sorted)
white_pop = []
black_pop = []
asian_pop = []
hisp_pop = []
for c in county_names_sorted:
    county_rows = demographic_df.loc[demographic_df['CTYNAME'] == c]
    white_males = sum([int(x) for x in county_rows['WA_MALE']])
    white_females = sum([int(x) for x in county_rows['WA_FEMALE']])
    black_males = sum([int(x) for x in county_rows['BA_MALE']])
    black_females = sum([int(x) for x in county_rows['BA_FEMALE']])
    asian_males = sum([int(x) for x in county_rows['AA_MALE']])
    asian_females = sum([int(x) for x in county_rows['AA_FEMALE']])
    hisp_male = sum([int(x) for x in county_rows['H_MALE']])
    hisp_female = sum([int(x) for x in county_rows['H_FEMALE']])
    white = white_males + white_females
    black = black_males + black_males
    asian = asian_males + asian_males
    hisp = hisp_male + hisp_female
    white_pop.append(white)
    asian_pop.append(asian)
    black_pop.append(black)
    hisp_pop.append(hisp)

demo_df = pd.DataFrame({
    'county_name': county_names_sorted,
    'white_pop': white_pop,
    'black_pop': black_pop,
    'asian_pop': asian_pop,
    'hisp_pop': hisp_pop,
})

demo_df.to_csv('racial_demographics.csv', index=False)

In [3]:
master_df = pd.read_csv('confirmed_cases_5_1_2020.csv')
new_df = pd.DataFrame({
    'county_name': [],
    'white_pop': [],
    'black_pop': [],
    'asian_pop': [],
    'hisp_pop': [],
})
for index, row in master_df.iterrows():
    entry = demo_df.loc[demo_df['county_name'] == row['Admin2']]
    # entry.drop('county_name', axis=1, inplace=True)
    if len(entry) != 0:
        new_entry = {
            'county_name': entry['county_name'],
            'white_pop': int(entry['white_pop']),
            'black_pop': int(entry['black_pop']),
            'asian_pop': int(entry['asian_pop']),
            'hisp_pop': int(entry['hisp_pop']),
        }
        new_df = new_df.append(pd.DataFrame(new_entry), ignore_index=True)
new_df

     county_name  white_pop  black_pop  asian_pop  hisp_pop
0        Autauga    85214.0    20948.0     1144.0    3342.0
1        Baldwin   438906.0    76452.0     5228.0   23170.0
2        Barbour    55990.0    25612.0      292.0    2600.0
3           Bibb   156836.0   167256.0     6440.0   11940.0
4         Blount   360348.0    10508.0     2496.0   20794.0
...          ...        ...        ...        ...       ...
2875  Sweetwater    79396.0     1388.0      812.0   13544.0
2876       Teton    79636.0      564.0      768.0   11366.0
2877       Uinta    38554.0      308.0      152.0    3742.0
2878    Washakie    14754.0      100.0      100.0    2216.0
2879      Weston    12908.0      128.0      136.0     570.0

[2880 rows x 5 columns]

In [4]:
racial_demographics_df = pd.read_csv('racial_demographics.csv')
master_df = pd.read_csv('confirmed_deaths_10_9_2021.csv')
master_df['white_pop'] = ''
master_df['black_pop'] = ''
master_df['asian_pop'] = ''
master_df['hisp_pop'] = ''
for index, row in master_df.iterrows():
    county = row['Admin2']
    county_row = racial_demographics_df.loc[racial_demographics_df['county_name'] == county]
    if len(county_row) > 0:
        white_pop = county_row['white_pop']
        black_pop = county_row['black_pop']
        asian_pop = county_row['asian_pop']
        hisp_pop = county_row['hisp_pop']
        master_df.at[index, 'white_pop'] = int(white_pop)
        master_df.at[index, 'black_pop'] = int(black_pop)
        master_df.at[index, 'asian_pop'] = int(asian_pop)
        master_df.at[index, 'hisp_pop'] = int(hisp_pop)
print(master_df)
master_df.to_csv('confirmed_deaths_10_9_2021.csv', index=False)

          Admin2 Province_State Country_Region        Lat       Long_  \
0        Autauga        Alabama             US  32.539527  -86.644082
1        Baldwin        Alabama             US  30.727750  -87.722071
2        Barbour        Alabama             US  31.868263  -85.387129
3           Bibb        Alabama             US  32.996421  -87.125115
4         Blount        Alabama             US  33.982109  -86.567906
...          ...            ...            ...        ...         ...
3229  Sweetwater        Wyoming             US  41.659439 -108.882788
3230       Teton        Wyoming             US  43.935225 -110.589080
3231       Uinta        Wyoming             US  41.287818 -110.547578
3232    Washakie        Wyoming             US  43.904516 -107.680187
3233      Weston        Wyoming             US  43.839612 -104.567488

                 Combined_Key  vaccine_doses_administered_in_state  \
0        Autauga, Alabama, US                              4630089
1        Baldwin, Alabama, US                              4630089
2        Barbour, Alabama, US                              4630089
3           Bibb, Alabama, US                              4630089
4         Blount, Alabama, US                              4630089
...                       ...                                  ...
3229  Sweetwater, Wyoming, US                               536884
3230       Teton, Wyoming, US                               536884
3231       Uinta, Wyoming, US                               536884
3232    Washakie, Wyoming, US                               536884
3233      Weston, Wyoming, US                               536884

      confirmed_cases  deaths white_pop black_pop asian_pop hisp_pop
0                9843     144     85214     20948      1144     3342
1               36870     532    438906     76452      5228    23170
2                3545      74     55990     25612       292     2600
3                4192      86    156836    167256      6440    11940
4                9998     172    360348     10508      2496    20794
...               ...     ...       ...       ...       ...      ...
3229             7146      70     79396      1388       812    13544
3230             4984      13     79636       564       768    11366
3231             3660      26     38554       308       152     3742
3232             1486      29     14754       100       100     2216
3233              947       8     12908       128       136      570

[3234 rows x 13 columns]

In [5]:
display(master_df)
print(master_df.columns)

,Admin2,Province_State,Country_Region,Lat,Long_,Combined_Key,vaccine_doses_administered_in_state,confirmed_cases,deaths,white_pop,black_pop,asian_pop,hisp_pop
0,Autauga,Alabama,US,32.539527,-86.644082,"Autauga, Alabama, US",4630089,9843,144,85214,20948,1144,3342
1,Baldwin,Alabama,US,30.727750,-87.722071,"Baldwin, Alabama, US",4630089,36870,532,438906,76452,5228,23170
2,Barbour,Alabama,US,31.868263,-85.387129,"Barbour, Alabama, US",4630089,3545,74,55990,25612,292,2600
3,Bibb,Alabama,US,32.996421,-87.125115,"Bibb, Alabama, US",4630089,4192,86,156836,167256,6440,11940
4,Blount,Alabama,US,33.982109,-86.567906,"Blount, Alabama, US",4630089,9998,172,360348,10508,2496,20794
...,...,...,...,...,...,...,...,...,...,...,...,...,...
3229,Sweetwater,Wyoming,US,41.659439,-108.882788,"Sweetwater, Wyoming, US",536884,7146,70,79396,1388,812,13544
3230,Teton,Wyoming,US,43.935225,-110.589080,"Teton, Wyoming, US",536884,4984,13,79636,564,768,11366
3231,Uinta,Wyoming,US,41.287818,-110.547578,"Uinta, Wyoming, US",536884,3660,26,38554,308,152,3742
3232,Washakie,Wyoming,US,43.904516,-107.680187,"Washakie, Wyoming, US",536884,1486,29,14754,100,100,2216
3233,Weston,Wyoming,US,43.839612,-104.567488,"Weston, Wyoming, US",536884,947,8,12908,128,136,570

Index(['Admin2', 'Province_State', 'Country_Region', 'Lat', 'Long_',
       'Combined_Key', 'vaccine_doses_administered_in_state',
       'confirmed_cases', 'deaths', 'white_pop', 'black_pop', 'asian_pop',
       'hisp_pop'],
      dtype='object')

In [6]:
#Cell by Julie
#Dictionary to map state abbreviations to full name

us_state_to_abbrev = {
    "Alabama": "AL",
    "Alaska": "AK",
    "Arizona": "AZ",
    "Arkansas": "AR",
    "California": "CA",
    "Colorado": "CO",
    "Connecticut": "CT",
    "Delaware": "DE",
    "Florida": "FL",
    "Georgia": "GA",
    "Hawaii": "HI",
    "Idaho": "ID",
    "Illinois": "IL",
    "Indiana": "IN",
    "Iowa": "IA",
    "Kansas": "KS",
    "Kentucky": "KY",
    "Louisiana": "LA",
    "Maine": "ME",
    "Maryland": "MD",
    "Massachusetts": "MA",
    "Michigan": "MI",
    "Minnesota": "MN",
    "Mississippi": "MS",
    "Missouri": "MO",
    "Montana": "MT",
    "Nebraska": "NE",
    "Nevada": "NV",
    "New Hampshire": "NH",
    "New Jersey": "NJ",
    "New Mexico": "NM",
    "New York": "NY",
    "North Carolina": "NC",
    "North Dakota": "ND",
    "Ohio": "OH",
    "Oklahoma": "OK",
    "Oregon": "OR",
    "Pennsylvania": "PA",
    "Rhode Island": "RI",
    "South Carolina": "SC",
    "South Dakota": "SD",
    "Tennessee": "TN",
    "Texas": "TX",
    "Utah": "UT",
    "Vermont": "VT",
    "Virginia": "VA",
    "Washington": "WA",
    "West Virginia": "WV",
    "Wisconsin": "WI",
    "Wyoming": "WY",
    "District of Columbia": "DC",
    "American Samoa": "AS",
    "Guam": "GU",
    "Northern Mariana Islands": "MP",
    "Puerto Rico": "PR",
    "United States Minor Outlying Islands": "UM",
    "U.S. Virgin Islands": "VI",
}   

# invert the dictionary so that we can use the abbreviations to get the state names
abbrev_to_us_state = dict(map(reversed, us_state_to_abbrev.items()))
#got from here: https://gist.github.com/rogerallen/1583593

In [7]:
#Cell by Julie -- adding poverty % to the dataset

#Bringing in poverty by fips
orig_poverty_df = pd.read_csv('PovertyEstimates.csv',encoding="ISO-8859-1", skipinitialspace=True)

#Taking in only identifying factors and the total percent of pop in poverty for 2019
data = [orig_poverty_df['FIPStxt'],orig_poverty_df['Stabr'],orig_poverty_df['Area_name'],orig_poverty_df['PCTPOVALL_2019']]
cols=['FIPS','StateAbr','Admin2','POVERTY_PERCENT']
poverty_df = pd.DataFrame(data, cols)
poverty_df = poverty_df.transpose()
#display(poverty_df)

#we need to get rid of the "county" part of the county name
poverty_df['Admin2'] = poverty_df['Admin2'].str.rstrip('County')
#doing it again to strip the trailing whitespace that is only sometimes there
poverty_df['Admin2'] = poverty_df['Admin2'].str.strip() 

#we need the full state name to match the master dataset, not just the abbreviaton
state = poverty_df['StateAbr'].map(abbrev_to_us_state)
poverty_df['Province_State']=state
#display(poverty_df)
#display(master_df)

# #debugging -- to help me get a better column match 
# #the lengths of county names appeared to be diffeerent b/c of trailing whitespace
# pv = poverty_df.iloc[3]
# ms = master_df.iloc[1]
# pv_s = pv['Admin2']
# ms_s = ms['Admin2']
# print(pv_s,ms_s)
# print(len(pv_s),len(ms_s)) #says pv_s is 1char more (8)
# print(pv_s[7]) #last element is space
#end debugging stuff
#success -- currently matching 3008 columns

#map fips and poverty percent column into the master_df by state/county pair
master_df = pd.merge(poverty_df, master_df, on=['Province_State','Admin2'])
display(master_df)

#current shape --> 3008 rows x 16 cols

,FIPS,StateAbr,Admin2,POVERTY_PERCENT,Province_State,Country_Region,Lat,Long_,Combined_Key,vaccine_doses_administered_in_state,confirmed_cases,deaths,white_pop,black_pop,asian_pop,hisp_pop
0,1001,AL,Autauga,12.1,Alabama,US,32.539527,-86.644082,"Autauga, Alabama, US",4630089,9843,144,85214,20948,1144,3342
1,1003,AL,Baldwin,10.1,Alabama,US,30.727750,-87.722071,"Baldwin, Alabama, US",4630089,36870,532,438906,76452,5228,23170
2,1005,AL,Barbour,27.1,Alabama,US,31.868263,-85.387129,"Barbour, Alabama, US",4630089,3545,74,55990,25612,292,2600
3,1007,AL,Bibb,20.3,Alabama,US,32.996421,-87.125115,"Bibb, Alabama, US",4630089,4192,86,156836,167256,6440,11940
4,1009,AL,Blount,16.3,Alabama,US,33.982109,-86.567906,"Blount, Alabama, US",4630089,9998,172,360348,10508,2496,20794
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3003,56037,WY,Sweetwater,8.3,Wyoming,US,41.659439,-108.882788,"Sweetwater, Wyoming, US",536884,7146,70,79396,1388,812,13544
3004,56039,WY,Teton,6,Wyoming,US,43.935225,-110.589080,"Teton, Wyoming, US",536884,4984,13,79636,564,768,11366
3005,56041,WY,Uinta,8.5,Wyoming,US,41.287818,-110.547578,"Uinta, Wyoming, US",536884,3660,26,38554,308,152,3742
3006,56043,WY,Washakie,11.1,Wyoming,US,43.904516,-107.680187,"Washakie, Wyoming, US",536884,1486,29,14754,100,100,2216
3007,56045,WY,Weston,10.5,Wyoming,US,43.839612,-104.567488,"Weston, Wyoming, US",536884,947,8,12908,128,136,570

In [26]:
#Cell by Julie -- trying to add age data

#Documentation of the dataset here:
#https://www2.census.gov/programs-surveys/popest/technical-documentation/file-layouts/2010-2019/cc-est2019-alldata.pdf

#Load into df
ageDf = pd.read_csv('cc-est2019-alldata2.csv',encoding="ISO-8859-1", skipinitialspace=True)
age = ageDf.loc[ageDf['YEAR']==12] #look only at the most recent year
display(age)
print(age.dtypes)

# age0 = [] #total
# age1 = [] #0-4
# age2 = [] #5-9
# age3 = [] #10-14
# age4 = [] #15-19
# age5 = [] #20-24
# age6 = [] #25-29
# age7 = [] #30-34
# age8 = [] #35-39
# age9 = [] #40-44
# age10 = [] #45-49
# age11 = [] #50-54
# age12 = [] #55-59
# age13 = [] #60-64
# age14 = [] #65-59
# age15 = [] #70-74
# age16 = [] #75-79
# age17 = [] #80-84
# age18 = [] #85+
rows = []
temp_age = []
totalPop = 0
for index, row in age.iterrows():
    #print(index, row['AGEGRP'])
    if(row['AGEGRP']==0):
        totalPop = row['TOT_POP']
    if(row['AGEGRP']==1):
        #age1.append(row['TOT_POP'])
        temp_age.append(row['TOT_POP'])
    if(row['AGEGRP']==2):
        #age2.append(row['TOT_POP'])
        temp_age.append(row['TOT_POP'])
    if(row['AGEGRP']==3):
        #age3.append(row['TOT_POP'])
        temp_age.append(row['TOT_POP'])
    if(row['AGEGRP']==4):
        #age4.append(row['TOT_POP'])
        temp_age.append(row['TOT_POP'])
    if(row['AGEGRP']==5):
        #age5.append(row['TOT_POP'])
        temp_age.append(row['TOT_POP'])
    if(row['AGEGRP']==6):
        #age6.append(row['TOT_POP'])
        temp_age.append(row['TOT_POP'])
    if(row['AGEGRP']==7):
        #age7.append(row['TOT_POP'])
        temp_age.append(row['TOT_POP'])
    if(row['AGEGRP']==8):
        #age8.append(row['TOT_POP'])
        temp_age.append(row['TOT_POP'])
    if(row['AGEGRP']==9):
        #age9.append(row['TOT_POP'])
        temp_age.append(row['TOT_POP'])
    if(row['AGEGRP']==10):
        #age10.append(row['TOT_POP'])
        temp_age.append(row['TOT_POP'])
    if(row['AGEGRP']==11):
        #age11.append(row['TOT_POP'])
        temp_age.append(row['TOT_POP'])
    if(row['AGEGRP']==12):
        #age12.append(row['TOT_POP'])
        temp_age.append(row['TOT_POP'])
    if(row['AGEGRP']==13):
        #age13.append(row['TOT_POP'])
        temp_age.append(row['TOT_POP'])
    if(row['AGEGRP']==14):
        #age14.append(row['TOT_POP'])
        temp_age.append(row['TOT_POP'])
    if(row['AGEGRP']==15):
        #age15.append(row['TOT_POP'])
        temp_age.append(row['TOT_POP'])
    if(row['AGEGRP']==16):
        #age16.append(row['TOT_POP'])
        temp_age.append(row['TOT_POP'])
    if(row['AGEGRP']==17):
        #age17.append(row['TOT_POP'])
        temp_age.append(row['TOT_POP'])
    if(row['AGEGRP']==18):
        #age18.append(row['TOT_POP'])
        #now i need to make a new row based on the past 18 entries       
        rowdata = {'state':row['STNAME'],'county':row['CTYNAME'], 'totalPop':totalPop, 'age1': temp_age[0], 'age2': temp_age[1], 'age3': temp_age[2], 'age4': temp_age[3], 'age5': temp_age[4], 'age6': temp_age[5], 'age7': temp_age[6], 'age8': temp_age[7], 'age9': temp_age[8], 'age10': temp_age[9], 'age11': temp_age[10], 'age12': temp_age[11], 'age13': temp_age[12], 'age14': temp_age[13], 'age15': temp_age[14], 'age16': temp_age[15], 'age17': temp_age[16] }
        temp_age.clear() #clear the list for next 18 iterations
        rows.append(rowdata)

        
final_age_df = pd.DataFrame.from_dict(rows, orient='columns')
display(final_age_df)

,STATE,COUNTY,STNAME,CTYNAME,YEAR,AGEGRP,TOT_POP,TOT_MALE,TOT_FEMALE
209,1,1,Alabama,Autauga County,12,0,55869,27092,28777
210,1,1,Alabama,Autauga County,12,1,3277,1713,1564
211,1,1,Alabama,Autauga County,12,2,3465,1787,1678
212,1,1,Alabama,Autauga County,12,3,3851,1977,1874
213,1,1,Alabama,Autauga County,12,4,3659,1854,1805
...,...,...,...,...,...,...,...,...,...
716371,56,45,Wyoming,Weston County,12,14,499,280,219
716372,56,45,Wyoming,Weston County,12,15,352,180,172
716373,56,45,Wyoming,Weston County,12,16,229,107,122
716374,56,45,Wyoming,Weston County,12,17,198,82,116
716375,56,45,Wyoming,Weston County,12,18,200,72,128

STATE          int64
COUNTY         int64
STNAME        object
CTYNAME       object
YEAR           int64
AGEGRP         int64
TOT_POP        int64
TOT_MALE       int64
TOT_FEMALE     int64
dtype: object

,state,county,totalPop,age1,age2,age3,age4,age5,age6,age7,age8,age9,age10,age11,age12,age13,age14,age15,age16,age17
0,Alabama,Autauga County,55869,3277,3465,3851,3659,3178,3799,3533,3661,3604,3877,3775,3896,3370,2683,2330,1796,1179
1,Alabama,Baldwin County,223234,12039,13066,14079,13084,11091,12618,12551,13446,13224,14472,14319,16267,16148,14881,13163,9043,5297
2,Alabama,Barbour County,24686,1309,1408,1476,1402,1487,1785,1669,1545,1413,1578,1504,1709,1540,1501,1365,939,587
3,Alabama,Bibb County,22394,1246,1198,1269,1279,1333,1726,1609,1532,1411,1622,1530,1516,1390,1156,1030,712,446
4,Alabama,Blount County,57826,3438,3639,3858,3587,3193,3590,3359,3524,3468,3868,3842,3986,3660,3311,3038,2049,1316
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3137,Wyoming,Sweetwater County,42343,2797,2991,3358,2903,2477,2742,3018,3343,2888,2491,2262,2721,2863,2163,1451,903,509
3138,Wyoming,Teton County,23464,1130,1177,1223,1056,1248,1925,1993,2046,1765,1717,1406,1489,1572,1332,1029,659,340
3139,Wyoming,Uinta County,20226,1361,1651,1727,1476,982,1130,1201,1457,1270,1189,1025,1290,1442,1201,801,496,249
3140,Wyoming,Washakie County,7805,399,442,557,562,341,365,400,507,453,440,476,541,592,528,420,329,209
3141,Wyoming,Weston County,6927,350,429,379,371,312,356,421,518,385,370,405,575,578,499,352,229,198

In [27]:
#Cell by Julie -- clean age df for merging by getting ready of "County"
def strip_county(x):
    if x.endswith('County'):
        return x[:-len("County")]
    return x

#cleaning my age df for merging
final_age_df['county'] = final_age_df['county'].apply(strip_county) #I'm noticing this is getting rid of 'ount' or other makeups of the word county -- must fix
final_age_df['county'] = final_age_df['county'].str.strip() #be careful of the trailing space!
display(final_age_df)

,state,county,totalPop,age1,age2,age3,age4,age5,age6,age7,age8,age9,age10,age11,age12,age13,age14,age15,age16,age17
0,Alabama,Autauga,55869,3277,3465,3851,3659,3178,3799,3533,3661,3604,3877,3775,3896,3370,2683,2330,1796,1179
1,Alabama,Baldwin,223234,12039,13066,14079,13084,11091,12618,12551,13446,13224,14472,14319,16267,16148,14881,13163,9043,5297
2,Alabama,Barbour,24686,1309,1408,1476,1402,1487,1785,1669,1545,1413,1578,1504,1709,1540,1501,1365,939,587
3,Alabama,Bibb,22394,1246,1198,1269,1279,1333,1726,1609,1532,1411,1622,1530,1516,1390,1156,1030,712,446
4,Alabama,Blount,57826,3438,3639,3858,3587,3193,3590,3359,3524,3468,3868,3842,3986,3660,3311,3038,2049,1316
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3137,Wyoming,Sweetwater,42343,2797,2991,3358,2903,2477,2742,3018,3343,2888,2491,2262,2721,2863,2163,1451,903,509
3138,Wyoming,Teton,23464,1130,1177,1223,1056,1248,1925,1993,2046,1765,1717,1406,1489,1572,1332,1029,659,340
3139,Wyoming,Uinta,20226,1361,1651,1727,1476,982,1130,1201,1457,1270,1189,1025,1290,1442,1201,801,496,249
3140,Wyoming,Washakie,7805,399,442,557,562,341,365,400,507,453,440,476,541,592,528,420,329,209
3141,Wyoming,Weston,6927,350,429,379,371,312,356,421,518,385,370,405,575,578,499,352,229,198

In [28]:
#Cell by Julie -- merge age df to master
master_df = pd.merge(final_age_df, master_df, left_on = ['state','county'], right_on=['Province_State','Admin2'])
display(master_df)

,state,county,totalPop,age1,age2,age3,age4,age5,age6,age7,...,Lat,Long_,Combined_Key,vaccine_doses_administered_in_state,confirmed_cases,deaths,white_pop,black_pop,asian_pop,hisp_pop
0,Alabama,Autauga,55869,3277,3465,3851,3659,3178,3799,3533,...,32.539527,-86.644082,"Autauga, Alabama, US",4630089,9843,144,85214,20948,1144,3342
1,Alabama,Baldwin,223234,12039,13066,14079,13084,11091,12618,12551,...,30.727750,-87.722071,"Baldwin, Alabama, US",4630089,36870,532,438906,76452,5228,23170
2,Alabama,Barbour,24686,1309,1408,1476,1402,1487,1785,1669,...,31.868263,-85.387129,"Barbour, Alabama, US",4630089,3545,74,55990,25612,292,2600
3,Alabama,Bibb,22394,1246,1198,1269,1279,1333,1726,1609,...,32.996421,-87.125115,"Bibb, Alabama, US",4630089,4192,86,156836,167256,6440,11940
4,Alabama,Blount,57826,3438,3639,3858,3587,3193,3590,3359,...,33.982109,-86.567906,"Blount, Alabama, US",4630089,9998,172,360348,10508,2496,20794
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3002,Wyoming,Sweetwater,42343,2797,2991,3358,2903,2477,2742,3018,...,41.659439,-108.882788,"Sweetwater, Wyoming, US",536884,7146,70,79396,1388,812,13544
3003,Wyoming,Teton,23464,1130,1177,1223,1056,1248,1925,1993,...,43.935225,-110.589080,"Teton, Wyoming, US",536884,4984,13,79636,564,768,11366
3004,Wyoming,Uinta,20226,1361,1651,1727,1476,982,1130,1201,...,41.287818,-110.547578,"Uinta, Wyoming, US",536884,3660,26,38554,308,152,3742
3005,Wyoming,Washakie,7805,399,442,557,562,341,365,400,...,43.904516,-107.680187,"Washakie, Wyoming, US",536884,1486,29,14754,100,100,2216
3006,Wyoming,Weston,6927,350,429,379,371,312,356,421,...,43.839612,-104.567488,"Weston, Wyoming, US",536884,947,8,12908,128,136,570